.button {
	border: 2px solid #009879;
	background: transparent;
	padding: 10px 30px;

	color: #009879;

	cursor: pointer;

	transition: background 300ms, color 300ms, color 300ms, padding 200ms;

	&:hover {
		background: #009879;
		color: white;
	}

	&:active {
		padding: 10px 25px;
	}
}
