.add-form {
	display: block;
	text-align: center;
	margin-top: 50px;

	&.locked {
		filter: grayscale(100%);
		opacity: 0.5;
		pointer-events: none;
	}

	form {
		display: inline-block;

		overflow: hidden;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: 2px solid #009879;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

		header {
			display: block;

			line-height: 49px;
			text-align: center;

			background: #009879;
			color: white;
			font-weight: 900;
			letter-spacing: 1px;
		}

		.add-form-inputs {
			padding: 20px;

			label {
				display: block;
				text-align: left;
				margin-bottom: 5px;
			}

			.input {
				margin-bottom: 20px;
				width: 100%;
				box-sizing: border-box;
				padding: 5px 10px;
			}
		}
	}
}
